.logo__subtitle {
  box-sizing: border-box;
  position: relative;
  font-family: 'Gill Sans MT Condensed', 'Agency FB';
  text-shadow: 0 1px 1px gray,
              1px 0 1px gray;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  letter-spacing: 5px;
  z-index: 0;
}

.logo__subtitle:before {
  box-sizing: border-box;
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  box-shadow: 0 1px 1px 1px gray,
              inset 0 1px 1px 1px gray;
  margin: 0;
  height: 6px;
  width: 100%;
  z-index: -1;
}

@media screen and (min-width: 429px) {
  .logo__subtitle {
    font-size: 22px;
  }
  
  .logo__subtitle:before {
    top: 7px;
    height: 7pt;
  }
}

@media screen and (min-width: 631px) {
  .logo__subtitle {
    font-size: 28px;
  }
  
  .logo__subtitle:before {
    top: 9px;
    margin: 0;
    height: 8pt;
    width: 100%;
  }
}
