@keyframes neonLight {
  0% {
  box-shadow: 0 -2px 3px 1px #8a2be2,
              0 2px 3px 1px #8a2be2;
  }
  50% {
  box-shadow: 0 -2px 5px 3px #8a2be2,
              0 2px 5px 3px #8a2be2;
  }
  100% {
  box-shadow: 0 -2px 3px 1px #8a2be2,
              0 2px 3px 1px #8a2be2;
  }
}

/* HEADER START */

.header {
  background-color: black;
  min-height: 150px;
  padding: 10px 0;
  width: 100%;
}

/* neon */

.header__neon-container {
  width: 33%;
  overflow: hidden;
}

.header__neon {
  height: 2px;
  background-color: #fff;
  line-height: 1.15;
  margin: 26px 0 10px;
  animation: neonLight 4s infinite;
  box-shadow: 0 -2px 3px 1px #8a2be2,
              0 2px 3px 1px #8a2be2;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 20px;
}

.header__title {
  margin: 0;
  padding: 0;
}

/* neon END */

/* navigation */

.header__nav-list {
  /* border: 1px solid white; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  list-style-type: none;
  list-style-position: inside;
  margin: 0 auto;
  padding: 0;
  width: 482px;
}

.header__nav-link {
  font-family: lemondrop;
  color: blanchedalmond;
}

.header__nav-link:hover {
  text-decoration: none;
}

/* navigation END */
