.articles {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  list-style-position: inside;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  width: 100%;
}
.articles::first-line {
  margin-top: 0;
}
