.header__neon-container {
  display: none;
}


@media screen and (min-width: 312px) {
  .header__neon-container {
    display: block;
    box-sizing: border-box;
    width: calc(100vw - 282px);
    overflow: hidden;
  }
}

@media screen and (min-width: 401px) {
  .header__neon-container {
    width: 33%;
  }
}